* {
  font-family: arial;
}

body {
  padding: 0;
  margin: 0;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: "no-repeat";
}

html,
body,
#root {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
